@import "tailwindcss";


:root {
  --bg-theme: #000000;
  --text-theme: #000000;
}

.dark {
  --bg-theme: #1446ce;
  --text-theme: #55c03f;
}

body {
  background-color: var(--bg-theme);
  color: var(--text-theme);
}